.gray {
 	background-color:#ccc;
	width:100%;
	height:72px;
}

.title{
	mergin-right:0;
	 float:left;
}
.pagetitle{
	margin:auto;
	 float:left;
}
.clock{
	margin-right:15px;
	 float:right;
}
.clear{
	clear:both;
}



.side ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side li {
	padding: 0;
	margin: 0;
}

.side li a {
	display: block;
	background: images/side1.png no-repeat left center;
	padding: 2px 0px 3px 18px;
	color: #555;
	width: 150px;
	margin: 1px 0px;
	text-decoration: none;
	border-bottom: 1px dotted #666666;
	font-size: 14px;
}

.side li a:hover {
	background: images/side2.png no-repeat left center;
}
.y_next_btn.m_next_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

.y_next_btn.m_next_btn:hover {
    background: #636363;
}
.y_back_btn.m_back_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 0 15px 15px;
    transition: .4s;
  }

.y_back_btn.m_back_btn:hover {
    background: #636363;
}
.side{
	width:20%;
	float:left;
}
.main{
	width:80%;
	float:left;
}

.main .timestamp_box{
	margin:0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:80%;
	height:60%;
	border: 3px solid #364e96;
}
.timestamp_box .timestamp_title{
	text-align:center;
	color: white;/*文字色*/
	background-color:#364e96;
	padding: 0.5em 0;/*上下の余白*/
	border-top: solid 3px #364e96;/*上線*/
	border-bottom: solid 3px #364e96;/*下線*/
}
.time_button{
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}
.time_button active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.timestamp_box .center_button{
	text-align:center;
}