.gray {
 	background-color:#ccc;
	width:100%;
	height:72px;
}

.title{
	mergin-right:0;
	 float:left;
}
.pagetitle{
	margin:auto;
	 float:left;
}
.clock{
	margin-right:15px;
	 float:right;
}
.clear{
	clear:both;
}



.side ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side li {
	padding: 0;
	margin: 0;
}

.side li a {
	display: block;
	background: images/side1.png no-repeat left center;
	padding: 2px 0px 3px 18px;
	color: #555;
	width: 150px;
	margin: 1px 0px;
	text-decoration: none;
	border-bottom: 1px dotted #666666;
	font-size: 14px;
}

.side li a:hover {
	background: images/side2.png no-repeat left center;
}
.y_next_btn.m_next_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

.y_next_btn.m_next_btn:hover {
    background: #636363;
}
.y_back_btn.m_back_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 0 15px 15px;
    transition: .4s;
  }

.y_back_btn.m_back_btn:hover {
    background: #636363;
}
.side{
	width:20%;
	float:left;
}
.main{
	width:80%;
	float:left;
}

.timestamp_box{
	margin:0 auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:80%;
	height:60%;
	border: 1px solid black;
}
.timestamp_title{
	position: relative;
	display: inline-block;
	padding: 0 55px;
}